Repository chawyehsu/moonup: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, actionlint

cargo-fmt:
  name: Cargo Format
  entry: pixi run cargo fmt --all
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo Clippy
  entry: pixi run cargo clippy
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflows
  entry: pixi run actionlint
  language: system
  stages:
  - pre-commit
  - manual

chore: set next release-as 0.2.1
  .github/workflows/cicd.yml
Due: actionlint

feat!: add self-update command
  src/cli/mod.rs
  src/cli/selfupdate.rs
  src/cli/update.rs
Due: cargo-fmt, cargo-clippy

fix: handle async issue in self-update by using spawn_blocking
  src/cli/selfupdate.rs
Due: cargo-fmt, cargo-clippy

fix(tests): update tests
  .pre-commit-config.yaml
  .typos.toml
  src/cli/selfupdate.rs
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__moonup_selfupdate.snap
  tests/e2e/snapshots/test__e2e__flow__moonup_update_no_selfupdate.snap
  tests/integration/snapshots/test__integration__cli_interface__help.snap
  tests/integration/snapshots/test__integration__cli_interface__update.snap
  tests/integration/snapshots/test__integration__cli_interface__update_alias.snap
Due: cargo-fmt, cargo-clippy

fix(tests): move selfupdate test to feature test-liveinstall
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_selfupdate.snap
Due: cargo-fmt, cargo-clippy

build: add option to hide self-update command
  Cargo.toml
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

chore: fix typo
  src/toolchain/package.rs
Due: cargo-fmt, cargo-clippy

fix: delete obsolete files before new installation
  src/toolchain/package.rs
Due: cargo-fmt, cargo-clippy

feat(moonup-shim): support toolchain input from cmd args (close #67)
  src/bin/moonup-shim.rs
Due: cargo-fmt, cargo-clippy

fix: correct component install dir
  src/toolchain/package.rs
Due: cargo-fmt, cargo-clippy

chore: set next release-as 0.2.2
  .github/workflows/cicd.yml
Due: actionlint

feat: add uninstall command
  src/cli/mod.rs
  src/cli/uninstall.rs
  src/toolchain/mod.rs
  tests/integration/snapshots/test__integration__cli_interface__help.snap
Due: cargo-fmt, cargo-clippy

test: add uninstall tests
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_list_1.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_list_2.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_uninstall.snap
  tests/util.rs
Due: cargo-fmt, cargo-clippy

chore: update readme [skip ci]
  README.md
Due: none

feat: add uninstall command (#78)
  README.md
  src/cli/mod.rs
  src/cli/uninstall.rs
  src/toolchain/mod.rs
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_list_1.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_list_2.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_uninstall.snap
  tests/integration/snapshots/test__integration__cli_interface__help.snap
  tests/util.rs
Due: cargo-fmt, cargo-clippy

refactor: use ToolchainSpec for run command
  src/cli/run.rs
  src/toolchain/mod.rs
Due: cargo-fmt, cargo-clippy

feat: support downloads cleanup (#61)
  README.md
  pixi.toml
  src/cli/uninstall.rs
  src/toolchain/mod.rs
  tests/e2e/flow.rs
Due: cargo-fmt, cargo-clippy

refactor: rename subcommand `show` to `list`
  README.md
  src/cli/list.rs
  src/cli/mod.rs
  tests/integration/snapshots/test__integration__cli_interface__help.snap
  tests/integration/snapshots/test__integration__cli_interface__show.snap
  tests/integration/snapshots/test__integration__cli_interface__show_alias.snap
  tests/util.rs
Due: cargo-fmt, cargo-clippy

test: more uninstall tests
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__install_1.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__install_2.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_uninstall_1.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_uninstall_2.snap
Due: cargo-fmt, cargo-clippy

test: clean up tests
  tests/e2e/snapshots/test__e2e__flow__liveinstall__install.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__install_1.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__install_2.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_uninstall.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_uninstall_1.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_uninstall_2.snap
Due: none

ci: add codecov workflow
  .github/workflows/coverage.yml
Due: actionlint

ci: rust sccache
  .github/workflows/coverage.yml
Due: actionlint

test: fix liveinstall tests
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__use_pinned_version.snap
  tests/util.rs
Due: cargo-fmt, cargo-clippy

ci: add codecov workflow (#80)
  .github/workflows/coverage.yml
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__use_pinned_version.snap
  tests/util.rs
Due: cargo-fmt, cargo-clippy, actionlint

chore: update badges [skip ci]
  README.md
Due: none

chore: update pixi deps [skip ci]
  pixi.lock
  pixi.toml
Due: none

chore(dev): add devcontainer [skip ci]
  .devcontainer/devcontainer.json
Due: none

chore: use crate remove_dir_all
  src/cli/install.rs
  src/cli/uninstall.rs
Due: cargo-fmt, cargo-clippy

fix: handle internal bins and link include dir (#81)
  src/cli/install.rs
Due: cargo-fmt, cargo-clippy

chore: update pixi.toml [skip ci]
  pixi.toml
Due: none

fix: spread toolchain spec down via env var
  src/bin/moonup-shim.rs
Due: cargo-fmt, cargo-clippy

fix(moonup-shim): remove obsolete arg
  src/bin/moonup-shim.rs
Due: cargo-fmt, cargo-clippy

test: improve liveinstall tests
  src/cli/install.rs
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moon_upgrade_intercept.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moon_use_default_version.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moon_use_pinned_version.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moon_use_version_from_arg.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_install.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_uninstall.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_uninstall_keep_cache.snap
Due: cargo-fmt, cargo-clippy

test: improve tests
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moon_use_default_version.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_run.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_which.snap
  tests/e2e/snapshots/test__e2e__flow__moonup_completions.snap
Due: cargo-fmt, cargo-clippy

fix: spread toolchain spec in moonup run command
  src/cli/run.rs
Due: cargo-fmt, cargo-clippy

feat: alias `moonup x` to moonup run
  src/cli/mod.rs
  tests/e2e/snapshots/test__e2e__flow__moonup_completions.snap
  tests/integration/snapshots/test__integration__cli_interface__help.snap
Due: cargo-fmt, cargo-clippy

chore: Update README [skip ci]
  README.md
Due: none

chore: set next release-as 0.2.3
  .github/workflows/cicd.yml
Due: actionlint

fix: replace URL construction with build_dist_server_api utility
  src/toolchain/package.rs
Due: cargo-fmt, cargo-clippy

chore: document distribution server configuration
  README.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: ^.pixi/
  cargo-clippy: any of: \.rs$, but not: ^.pixi/
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not (^.pixi/)
