Repository chawyehsu/moonup: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, actionlint

cargo-fmt:
  name: Cargo Format
  entry: pixi run cargo fmt --all
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo Clippy
  entry: pixi run cargo clippy
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflows
  entry: pixi run actionlint
  language: system
  stages:
  - pre-commit
  - manual

feat(toolchain): support moonx in release installs
  src/cli/install.rs
  src/dist_server/schema/mod.rs
  src/toolchain/atomic.rs
  src/toolchain/index.rs
  src/toolchain/version.rs
  tests/integration/atomic.rs
  tests/integration/package.rs
Due: cargo-fmt, cargo-clippy

restore
  src/dist_server/schema/mod.rs
Due: cargo-fmt, cargo-clippy

perf: symlink moonx instead of copying on non-Windows
  src/cli/install.rs
Due: cargo-fmt, cargo-clippy

feat(toolchain): support moonx in release installs (#211)
  src/cli/install.rs
  src/dist_server/schema/mod.rs
  src/toolchain/atomic.rs
  src/toolchain/index.rs
  src/toolchain/version.rs
  tests/integration/atomic.rs
  tests/integration/package.rs
Due: cargo-fmt, cargo-clippy

ci: skip style check on release commits
  .github/workflows/ci.yml
Due: actionlint

update snapshots
  tests/integration/snapshots/test__integration__cli_interface__help.snap
Due: none

use hex::encode
  Cargo.lock
  Cargo.toml
  src/cli/selfupdate.rs
  src/toolchain/package.rs
Due: cargo-fmt, cargo-clippy

style: clippy fix
  src/cli/install.rs
Due: cargo-fmt, cargo-clippy

test: use hex::encode
  tests/integration/archive.rs
Due: cargo-fmt, cargo-clippy

style: fmt fix
  src/cli/install.rs
Due: cargo-fmt, cargo-clippy

docs: add polyglot installer
  .agents/adr/0005-polyglot-universal-installer.md
  docs/public/install
  docs/public/install.sh
Due: none

docs: replace install methods with universal installer
  docs/guide/index.md
  docs/guide/installation.md
  docs/index.md
Due: none

docs: update installation instructions in readme
  README.md
Due: none

docs: update installation guide and quick start
  docs/guide/installation.md
  docs/index.md
Due: none

fix(install): improve Windows detection and moonup check
  docs/public/install
Due: none

fix(install): improve Windows PATH and architecture check
  docs/public/install
Due: none

docs(install): improve manual PATH message
  docs/public/install
Due: none

fix(install): validate moonup binary exists in release archive
  docs/guide/installation.md
  docs/public/install
Due: none

refactor(docs): reorder install script sections for parsing
  docs/public/install
Due: none

refactor(install): rename __moonup_install__ function [ci skip]
  docs/public/install
Due: none

docs(moonup): add universal installer and renumber setup steps [ci skip]
  skills/moonup/references/setup.md
Due: none

fix(install): use Write-Host for install script messages [ci skip]
  docs/public/install
Due: none

docs: introduce polyglot installer (#213)
  .agents/adr/0005-polyglot-universal-installer.md
  README.md
  docs/guide/index.md
  docs/guide/installation.md
  docs/index.md
  docs/public/install
  docs/public/install.sh
  skills/moonup/references/setup.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: ^.pixi/
  cargo-clippy: any of: \.rs$, but not: ^.pixi/
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not (^.pixi/)
