Repository chawyehsu/moonup: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, actionlint

cargo-fmt:
  name: Cargo Format
  entry: pixi run cargo fmt --all
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo Clippy
  entry: pixi run cargo clippy
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflows
  entry: pixi run actionlint
  language: system
  stages:
  - pre-commit
  - manual

test(cli): add snapshot test for completions help
  tests/integration/cli_interface.rs
  tests/integration/snapshots/test__integration__cli_interface__completions.snap
Due: cargo-fmt, cargo-clippy

ci: skip ci test check for release bot
  .github/workflows/ci.yml
Due: actionlint

docs: add moonup agent skill with reference docs [ci skip]
  .editorconfig
  skills/moonup/SKILL.md
  skills/moonup/references/commands.md
  skills/moonup/references/install.md
  skills/moonup/references/pin.md
  skills/moonup/references/setup.md
  skills/moonup/references/uninstall.md
  skills/moonup/references/update.md
Due: none

docs: add AI agent installation instructions for moonup
  README.md
Due: none

docs(README): update installation instructions for cargo-binstall [ci skip]
  README.md
Due: none

docs: add setup-moonup skill with examples [ci skip]
  skills/moonup-github-actions/SKILL.md
  skills/moonup-github-actions/references/examples.md
Due: none

docs(README): update agent skill installation guide [ci skip]
  README.md
Due: none

ci: ignore docs changes in non docs workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/release-please.yml
Due: actionlint

docs: add docs website
  .github/workflows/docs.yml
  .gitignore
  docs/.vitepress/config.ts
  docs/guide/index.md
  docs/guide/installation.md
  docs/guide/usage.md
  docs/index.md
  docs/package-lock.json
  docs/package.json
  docs/public/logo.svg
  docs/reference/index.md
Due: actionlint

ci(docs): fix action pin sha
  .github/workflows/docs.yml
Due: actionlint

ci: exclude docs workflow from other CI triggers
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/release-please.yml
Due: actionlint

docs: update README [ci skip]
  README.md
Due: none

chore: Use CARGO_TARGET_DIR for insta to avoid rebuild
  pixi.toml
Due: none

feat: Improve error for install with specific version
  Cargo.toml
  src/cli/install.rs
  src/cli/update.rs
  src/toolchain/index.rs
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__moonup_install_specific_version_unavailable_mock.snap
Due: cargo-fmt, cargo-clippy

refactor(pixi): Use `env` of pixi instead of shell
  pixi.toml
Due: none

chore: Update hint for install
  src/toolchain/index.rs
  tests/e2e/snapshots/test__e2e__flow__moonup_install_specific_version_unavailable_mock.snap
Due: cargo-fmt, cargo-clippy

chore: Update help using MietteDiagnostic
  src/toolchain/index.rs
  tests/e2e/snapshots/test__e2e__flow__moonup_install_specific_version_unavailable_mock.snap
Due: cargo-fmt, cargo-clippy

chore: Support aarch64-unknown-linux in tests (1/3)
  pixi.lock
  pixi.toml
  scripts/update_fixture.sh
Due: none

chore: Support aarch64-unknown-linux in tests (3/3)
  tests/e2e/snapshots/test__e2e__flow__moonup_default.snap.new
  tests/e2e/snapshots/test__e2e__flow__moonup_install_list_available_mock.snap
  tests/e2e/snapshots/test__e2e__flow__moonup_install_list_available_mock_2.snap
  tests/e2e/snapshots/test__e2e__flow__moonup_pin.snap.new
Due: none

chore: Stabilize emoji use in tests
  pixi.toml
Due: none

chore: Use CARGO_TARGET_DIR for insta to avoid rebuild (#188)
  pixi.toml
Due: none

chore(pre-commit): block .snap.new files [ci skip]
  .pre-commit-config.yaml
Due: none

ci: check for .snap.new files in CI
  .github/workflows/ci.yml
Due: actionlint

ci(lint-pr): add workflow to validate PR titles [ci skip]
  .github/workflows/lint-pr.yml
Due: actionlint

fixup
  tests/e2e/snapshots/test__e2e__flow__moonup_default.snap.new
  tests/e2e/snapshots/test__e2e__flow__moonup_pin.snap.new
Due: none

fix: Use consistent `curl`
  scripts/update_fixture.sh
Due: none

chore: add AGENTS.md [ci skip]
  AGENTS.md
Due: none

test: clippy fix [ci skip]
  tests/unit/dist_server.rs
  tests/util.rs
Due: cargo-fmt, cargo-clippy

fix!: introduce operation atomicity over toolchain change
  src/cli/install.rs
  src/cli/uninstall.rs
  src/cli/update.rs
  src/toolchain/atomic.rs
  src/toolchain/mod.rs
  src/toolchain/package.rs
  tests/integration/atomic.rs
  tests/integration/mod.rs
Due: cargo-fmt, cargo-clippy

fix(atomic): finalize recovered staging and restore on failed swap
  src/cli/install.rs
  src/cli/update.rs
  src/toolchain/atomic.rs
  src/toolchain/package.rs
  tests/integration/atomic.rs
Due: cargo-fmt, cargo-clippy

test: add e2e tests for atomic toolchain recovery
  tests/e2e/atomic.rs
  tests/e2e/mod.rs
Due: cargo-fmt, cargo-clippy

fix(atomic): retry pending finalization after interrupted update
  src/cli/install.rs
  src/cli/update.rs
  src/toolchain/atomic.rs
  src/toolchain/package.rs
  tests/integration/atomic.rs
Due: cargo-fmt, cargo-clippy

test: add sentinel to verify staging promotion
  tests/e2e/atomic.rs
Due: cargo-fmt, cargo-clippy

refactor(atomic): expose retired_dir_for and refactor tests
  src/toolchain/atomic.rs
  tests/e2e/atomic.rs
  tests/integration/atomic.rs
Due: cargo-fmt, cargo-clippy

docs: add agent session logs [ci skip]
  .agents/adr/0001-atomic-toolchain-change-via-staged-swap.md
  .agents/handoff/issue-195-atomic-toolchain-change.md
  CONTEXT.md
Due: none

fix(atomic): shunt locked retired dirs during toolchain swap
  src/toolchain/atomic.rs
  tests/integration/atomic.rs
Due: cargo-fmt, cargo-clippy

docs(adr): record tombstone shunt for locked retired dirs
  .agents/adr/0001-atomic-toolchain-change-via-staged-swap.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: ^.pixi/
  cargo-clippy: any of: \.rs$, but not: ^.pixi/
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not (^.pixi/)
