Repository chawyehsu/moonup: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, actionlint

cargo-fmt:
  name: Cargo Format
  entry: pixi run cargo fmt --all
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo Clippy
  entry: pixi run cargo clippy
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflows
  entry: pixi run actionlint
  language: system
  stages:
  - pre-commit
  - manual

chore(deps): add cargo-insta to pixi workspace
  pixi.lock
  pixi.toml
Due: none

chore: set devcontainer schema
  .devcontainer/devcontainer.json
Due: none

test: add tests for interactive commands
  Cargo.lock
  Cargo.toml
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_default_interactive.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_install_2.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_pin_interactive.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_uninstall_interactive.snap
  tests/util.rs
Due: cargo-fmt, cargo-clippy

test: update snapshots
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moon_use_default_version.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_default.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_default_interactive.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_install.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_install_2.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_install_latest.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_install_nightly.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_install_nightly_2.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_pin.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_pin_interactive.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_uninstall.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_uninstall_clear.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_uninstall_interactive.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_uninstall_keep_cache.snap
  tests/e2e/snapshots/test__e2e__flow__moonup_default.snap
  tests/e2e/snapshots/test__e2e__flow__moonup_pin.snap
  tests/util.rs
Due: cargo-fmt, cargo-clippy

test: fix tests on windows
  tests/util.rs
Due: cargo-fmt, cargo-clippy

chore: migrate to prek from pre-commit
  README.md
  pixi.lock
  pixi.toml
Due: none

test: update tests for interactive commands
  Cargo.lock
  Cargo.toml
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_default_interactive.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_install_2.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_install_interactive.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_pin_interactive.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_uninstall_interactive.snap
Due: cargo-fmt, cargo-clippy

test: update snapshots
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_update.snap
Due: none

chore: remove bleeding channel check from update subcommand
  src/cli/update.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moon_upgrade_intercept.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_update.snap
Due: cargo-fmt, cargo-clippy

fix: resolve executables in internal bin directory as well
  src/runner.rs
  src/toolchain/resolve.rs
Due: cargo-fmt, cargo-clippy

chore: set next release-as 0.4.2
  .github/workflows/cicd.yml
Due: actionlint

fix: filter host unsupported releases for all channels
  src/toolchain/index.rs
Due: cargo-fmt, cargo-clippy

chore: set next release-as 0.4.3
  .github/workflows/cicd.yml
Due: actionlint

fix: update bundle argument reflecting moon breaking change
  src/cli/install.rs
  src/dist_server/schema/mod.rs
  tests/fixtures/dist_server/channel-latest.json
Due: cargo-fmt, cargo-clippy

ci: pin sccache version
  .github/workflows/cicd.yml
Due: actionlint

chore: set next release-as 0.5.0
  .github/workflows/cicd.yml
Due: actionlint

feat: enable linux-aarch64 support
  src/dist_server/schema/mod.rs
  tests/unit/dist_server.rs
Due: cargo-fmt, cargo-clippy

ci: build linux-aarch64 variant
  .github/workflows/cicd.yml
Due: actionlint

chore(ci)!: drop darwin-x86_64 variant
  .github/workflows/cicd.yml
Due: actionlint

ci: upload dev artifacts
  .github/workflows/cicd.yml
Due: actionlint

ci: filter out dev artifacts
  .github/workflows/cicd.yml
Due: actionlint

ci: fix dev artifacts paths
  .github/workflows/cicd.yml
Due: actionlint

ci: disable dev artifacts upload
  .github/workflows/cicd.yml
Due: actionlint

fix(install): avoid purging bin folder when installing toolchains
  src/cli/install.rs
Due: cargo-fmt, cargo-clippy

test(e2e): custom bin file persists after toolchain update or reinstall
  tests/e2e/flow.rs
Due: cargo-fmt, cargo-clippy

chore(deps): update reqwest
  Cargo.lock
  Cargo.toml
Due: none

chore: revert "chore(deps): update reqwest"
  Cargo.lock
  Cargo.toml
Due: none

chore: bump rust toolchain from 1.82.0 to 1.95.0
  pixi.lock
  pixi.toml
  rust-toolchain.toml
Due: none

chore: cargo clippy fix
  src/bin/moonup-shim.rs
  src/cli/uninstall.rs
  src/toolchain/index.rs
  src/utils.rs
Due: cargo-fmt, cargo-clippy

chore: rust edition 2024 pre migration
  src/utils.rs
Due: cargo-fmt, cargo-clippy

chore(deps): bump zip from 2.x to 8.6.0
  Cargo.lock
  Cargo.toml
Due: none

chore: move to rust edition 2024
  Cargo.toml
Due: none

chore: cargo clippy fix
  src/cli/install.rs
Due: cargo-fmt, cargo-clippy

chore: cargo fmt and clippy fix
  src/bin/moonup-shim.rs
  src/cli/list.rs
  src/cli/mod.rs
  src/cli/pin.rs
  src/cli/uninstall.rs
  src/cli/update.rs
  src/dist_server/schema/mod.rs
  src/fs.rs
  src/runner.rs
  src/utils.rs
  tests/e2e/flow.rs
Due: cargo-fmt, cargo-clippy

chore(ci): bump rust version
  .github/workflows/cicd.yml
Due: actionlint

chore(ci): sha pin actions
  .github/workflows/cicd.yml
  .github/workflows/coverage.yml
Due: actionlint

chore(ci): update actions
  .github/workflows/coverage.yml
Due: actionlint

chore(ci): tweak rust setup
  .github/workflows/cicd.yml
Due: actionlint

chore(deps): update
  Cargo.lock
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: ^.pixi/
  cargo-clippy: any of: \.rs$, but not: ^.pixi/
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not (^.pixi/)
