Repository chawyehsu/moonup: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, actionlint

.pre-commit-config.yaml:

# https://pre-commit.com/#creating-new-hooks
exclude: ^.pixi/
repos:
  - repo: local
    hooks:
      - id: typos
        name: Typos
        entry: pixi run typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo Format
        entry: pixi run cargo fmt --all
        language: system
        types: [file, rust]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo Clippy
        entry: pixi run cargo clippy
        language: system
        types: [file, rust]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: actionlint
        name: Lint GitHub Actions workflows
        entry: pixi run actionlint
        language: system
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]

test(e2e): update completions subcommand test snapshot
  tests/e2e/snapshots/test__e2e__flow__moonup_completions.snap
Due: none

chore(ci): tweak workflow permissions
  .github/workflows/cicd.yml
Due: actionlint

chore(ci): tweak workflow permissions
  .github/workflows/coverage.yml
Due: actionlint

chore(ci): fix workflow permissions
  .github/workflows/cicd.yml
Due: actionlint

chore(ci): fix artifacts globbing
  .github/workflows/cicd.yml
Due: actionlint

chore: revert "chore(main): release 0.5.0 (#151)"
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

chore(devdeps): update prek
  pixi.lock
  pixi.toml
Due: none

chore: set next release-as 0.5.1
  .github/workflows/cicd.yml
Due: actionlint

test: switch to v3 test dist_server
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_install_latest.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_install_nightly_2.snap
  tests/util.rs
Due: cargo-fmt, cargo-clippy

test: update snapshots
  Cargo.toml
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_default_interactive.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_install_interactive.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_pin_interactive.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_uninstall_interactive.snap
Due: cargo-fmt, cargo-clippy

test: update snapshots
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_install_nightly.snap
Due: none

feat(runner): add lsp delegation support for moonbit-lsp
  src/runner.rs
Due: cargo-fmt, cargo-clippy

feat(runner): support lsp-server.js
  src/runner.rs
Due: cargo-fmt, cargo-clippy

test(runner): add lsp delegation test
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moon_lsp_nodebased_lsp_help.snap
Due: cargo-fmt, cargo-clippy

test(e2e): lsp no js runtime test
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moon_lsp_nodebased_lsp_version.snap
Due: cargo-fmt, cargo-clippy

chore(runner): add debug tracing for executable resolution
  src/runner.rs
Due: cargo-fmt, cargo-clippy

feat(resolve): add resolve_file function for lsp server discovery
  src/runner.rs
  src/toolchain/resolve.rs
Due: cargo-fmt, cargo-clippy

test(resolve): add test for resolve_file function
  tests/unit/resolve.rs
Due: cargo-fmt, cargo-clippy

feat(runner): support moon-lsp delegation to moonbit-lsp (#171)
  src/runner.rs
  src/toolchain/resolve.rs
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moon_lsp_nodebased_lsp_help.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moon_lsp_nodebased_lsp_version.snap
  tests/unit/resolve.rs
Due: cargo-fmt, cargo-clippy

fix(cli): update which command to use runner
  src/cli/which.rs
Due: cargo-fmt, cargo-clippy

test: add moonup_run_not_installed snapshot
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__moonup_run_not_installed.snap
Due: cargo-fmt, cargo-clippy

refactor(dist_server): increase code coverage
  src/dist_server/schema/mod.rs
  tests/unit/dist_server.rs
Due: cargo-fmt, cargo-clippy

test(dist_server): update ChannelIndex parse test
  tests/unit/dist_server.rs
Due: cargo-fmt, cargo-clippy

test(dist_server): add tests for ComponentIndex parsing
  tests/unit/dist_server.rs
Due: cargo-fmt, cargo-clippy

test(e2e): add snapshot tests for `--list-available`
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__moonup_install_list_available_mock.snap
  tests/e2e/snapshots/test__e2e__flow__moonup_install_list_available_mock_2.snap
Due: cargo-fmt, cargo-clippy

test(cli): add tests for logging verbosity flags
  tests/integration/cli_interface.rs
Due: cargo-fmt, cargo-clippy

test(e2e): update flow test snapshots for toolchain list
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_list_3.snap
Due: cargo-fmt, cargo-clippy

test(e2e): add snapshot test for pin without toolchain
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__moonup_pin_2.snap
Due: cargo-fmt, cargo-clippy

test(e2e): add snapshot for default without toolchain
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__moonup_default_2.snap
Due: cargo-fmt, cargo-clippy

refactor: increase code coverage (#173)
  src/dist_server/schema/mod.rs
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_list_3.snap
  tests/e2e/snapshots/test__e2e__flow__moonup_default_2.snap
  tests/e2e/snapshots/test__e2e__flow__moonup_install_list_available_mock.snap
  tests/e2e/snapshots/test__e2e__flow__moonup_install_list_available_mock_2.snap
  tests/e2e/snapshots/test__e2e__flow__moonup_pin_2.snap
  tests/e2e/snapshots/test__e2e__flow__moonup_run_not_installed.snap
  tests/integration/cli_interface.rs
  tests/unit/dist_server.rs
Due: cargo-fmt, cargo-clippy

fix(toolchain/package): cache verification and validation
  src/fs.rs
  src/toolchain/package.rs
  tests/integration/mod.rs
  tests/integration/package.rs
Due: cargo-fmt, cargo-clippy

refactor(cli): add h2 to low-level log filter
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

fix(toolchain/package): add cache verification and invalidation (#175)
  src/fs.rs
  src/toolchain/package.rs
  tests/integration/mod.rs
  tests/integration/package.rs
Due: cargo-fmt, cargo-clippy

ci: refactor CI/CD workflows to use release maid
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/cicd.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  README.md
  release-please-config.json
Due: actionlint

test: mark tests involving cwd change as serial to prevent race conditions
  Cargo.lock
  Cargo.toml
  tests/e2e/flow.rs
  tests/unit/resolve.rs
Due: cargo-fmt, cargo-clippy

fix(runner): ensure `PATHEXT` env var is set on Windows
  src/constant.rs
  src/toolchain/resolve.rs
Due: cargo-fmt, cargo-clippy

style(utils): clippy fix
  src/utils.rs
Due: cargo-fmt, cargo-clippy

test(resolve): add test for exe resolution without PATHEXT
  tests/unit/resolve.rs
Due: cargo-fmt, cargo-clippy

ci(actions): update actions to latest versions
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: actionlint

ci(release): restructure workflow to publish crate before creating release
  .github/workflows/release.yml
Due: actionlint
