Repository chawyehsu/moonup: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, actionlint

.pre-commit-config.yaml:

# https://pre-commit.com/#creating-new-hooks
exclude: ^.pixi/
repos:
  - repo: local
    hooks:
      - id: typos
        name: Typos
        entry: pixi run typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo Format
        entry: pixi run cargo fmt --all
        language: system
        types: [file, rust]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo Clippy
        entry: pixi run cargo clippy
        language: system
        types: [file, rust]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: actionlint
        name: Lint GitHub Actions workflows
        entry: pixi run actionlint
        language: system
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]

chore: set next release-as 0.3.0
  .github/workflows/cicd.yml
  Cargo.lock
  Cargo.toml
Due: actionlint

ci: bump sccache-action version
  .github/workflows/cicd.yml
  .github/workflows/coverage.yml
Due: actionlint

ci: pin rust toolchain
  .github/workflows/cicd.yml
Due: actionlint

refactor: extract dist_server schema
  src/cli/install.rs
  src/cli/list.rs
  src/cli/selfupdate.rs
  src/dist_server/mod.rs
  src/dist_server/schema.rs
  src/lib.rs
  src/toolchain/index.rs
  src/toolchain/package.rs
  src/toolchain/resolve.rs
  src/utils.rs
  tests/unit/resolve.rs
Due: cargo-fmt, cargo-clippy

fix: handle unknown channel/target variants (forward compatibility improvement)
  src/dist_server/schema.rs
Due: cargo-fmt, cargo-clippy

feat: add bleeding channel support
  src/cli/install.rs
  src/dist_server/schema.rs
  src/toolchain/index.rs
  src/toolchain/mod.rs
  src/toolchain/package.rs
Due: cargo-fmt, cargo-clippy

fix: update cache removal reflecting new cache layout
  src/cli/uninstall.rs
  src/toolchain/mod.rs
Due: cargo-fmt, cargo-clippy

tests: add tests for bleeding channel
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__flow_with_network_mock.snap
  tests/fixtures/dist_server/bleeding/aarch64-apple-darwin.json
  tests/fixtures/dist_server/bleeding/x86_64-apple-darwin.json
  tests/fixtures/dist_server/bleeding/x86_64-pc-windows.json
  tests/fixtures/dist_server/bleeding/x86_64-unknown-linux.json
  tests/fixtures/dist_server/channel-bleeding.json
  tests/fixtures/dist_server/channel-latest.json
  tests/fixtures/dist_server/channel-nightly.json
  tests/fixtures/dist_server/index.json
Due: cargo-fmt, cargo-clippy

feat: implement bleeding channel update
  src/cli/update.rs
Due: cargo-fmt, cargo-clippy

fix: correct bleeding toolchain install dir
  src/cli/install.rs
Due: cargo-fmt, cargo-clippy

test: update snapshot
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moon_upgrade_intercept.snap
Due: none

tests: introduce testing dist server for liveinstall testing
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moon_upgrade_intercept.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_install_latest.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_install_nightly.snap
  tests/util.rs
Due: cargo-fmt, cargo-clippy

tests: more tests
  tests/e2e/flow.rs
  tests/unit/dist_server.rs
  tests/unit/mod.rs
Due: cargo-fmt, cargo-clippy

tests: commit new snapshots
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_install_neverexists.snap
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_install_nightly_2.snap
Due: none

chore: tweak --list-available display
  src/cli/install.rs
  src/dist_server/schema.rs
  tests/e2e/snapshots/test__e2e__flow__flow_with_network_mock.snap
  tests/e2e/snapshots/test__e2e__flow__moonup_completions.snap
  tests/integration/snapshots/test__integration__cli_interface__install.snap
  tests/integration/snapshots/test__integration__cli_interface__install_alias.snap
Due: cargo-fmt, cargo-clippy

feat: support selecting a version to install (close #77)
  src/cli/install.rs
  tests/e2e/snapshots/test__e2e__flow__moonup_completions.snap
  tests/integration/snapshots/test__integration__cli_interface__install.snap
  tests/integration/snapshots/test__integration__cli_interface__install_alias.snap
Due: cargo-fmt, cargo-clippy

refactor(update): streamline toolchain update logic and remove redundant code
  src/cli/update.rs
Due: cargo-fmt, cargo-clippy

feat: always invalidate component index for bleeding channel
  src/constant.rs
  src/toolchain/index.rs
  src/toolchain/package.rs
Due: cargo-fmt, cargo-clippy

ci(codecov): avoid running codecov for dependabot commits [ci skip]
  .github/workflows/coverage.yml
Due: actionlint

chore: set next release-as 0.3.1
  .github/workflows/cicd.yml
  Cargo.lock
  Cargo.toml
Due: actionlint

fix: invalidate local caches for bleeding channel
  src/toolchain/package.rs
Due: cargo-fmt, cargo-clippy

chore: set next release-as 0.3.2
  .github/workflows/cicd.yml
  Cargo.lock
  Cargo.toml
Due: actionlint

fix(moonup-shim): child process exitcode pass-through
  src/bin/moonup-shim.rs
  tests/e2e/snapshots/test__e2e__shim__run_moonup_shim_directly.snap
Due: cargo-fmt, cargo-clippy

chore: revert error message lowercase
  src/bin/moonup-shim.rs
  tests/e2e/snapshots/test__e2e__shim__run_moonup_shim_directly.snap
Due: cargo-fmt, cargo-clippy

fix: improve shim generator to support .bat executables
  Cargo.lock
  Cargo.toml
  src/bin/moonup-shim.rs
  src/cli/install.rs
  src/cli/run.rs
  src/cli/which.rs
  src/constant.rs
  src/lib.rs
  src/runner.rs
  src/toolchain/resolve.rs
  src/utils.rs
Due: cargo-fmt, cargo-clippy

fix: delete directory of invalid install
  src/toolchain/package.rs
Due: cargo-fmt, cargo-clippy

chore: set next release-as 0.4.0
  .github/workflows/cicd.yml
Due: actionlint

feat: support index v3
  src/cli/install.rs
  src/dist_server/schema.rs
  src/dist_server/schema/legacy.rs
  src/dist_server/schema/mod.rs
  src/dist_server/schema/v2.rs
  src/dist_server/schema/v3.rs
  src/toolchain/index.rs
  tests/unit/dist_server.rs
Due: cargo-fmt, cargo-clippy

fix: correct custom deserializers and add tests for index
  src/dist_server/schema/mod.rs
  tests/unit/dist_server.rs
Due: cargo-fmt, cargo-clippy

feat: support index v3 (#128)
  src/cli/install.rs
  src/dist_server/schema.rs
  src/dist_server/schema/legacy.rs
  src/dist_server/schema/mod.rs
  src/dist_server/schema/v2.rs
  src/dist_server/schema/v3.rs
  src/toolchain/index.rs
  tests/unit/dist_server.rs
Due: cargo-fmt, cargo-clippy

ci: switch to trusted publishing for crates publish
  .github/workflows/cicd.yml
Due: actionlint

chore(ci): update to use latest intel macos runner
  .github/workflows/cicd.yml
  pixi.lock
  pixi.toml
Due: actionlint

chore(ci): update actions deps
  .github/workflows/cicd.yml
Due: actionlint

feat: add retry policy to underlying http client
  Cargo.lock
  Cargo.toml
  src/cli/selfupdate.rs
  src/toolchain/index.rs
  src/toolchain/package.rs
  src/utils.rs
Due: cargo-fmt, cargo-clippy

chore(deps): bump tokio from 1.43.0 to 1.43.3
  Cargo.lock
  Cargo.toml
Due: none

feat: default to index v3 [ci skip]
  src/constant.rs
Due: cargo-fmt, cargo-clippy

chore: migrate pixi workspace [ci skip]
  pixi.toml
Due: none

chore: set next release-as 0.4.1
  .github/workflows/cicd.yml
Due: actionlint

test: add moonup_selfupdate_forced test
  src/cli/selfupdate.rs
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_selfupdate_forced.snap
  tests/util.rs
Due: cargo-fmt, cargo-clippy

test: add moonup_uninstall_clear test
  tests/e2e/flow.rs
  tests/e2e/snapshots/test__e2e__flow__liveinstall__moonup_uninstall_clear.snap
Due: cargo-fmt, cargo-clippy
